* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3cb371;
    margin: 20px;
}

article {
    background: white;
    font-family: arial;
    /* margin: 20px 0; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

article .content {
    padding: 20px;
    color: grey;
    display: flex;
    flex-direction: column;
    flex: 1;
}

article .content footer {
    flex: 1;
    align-items: flex-end;
}

img {
    width: 100%;
}


.content h2 {
    color: rgba(0, 0, 0, 0.8);
}

.content p {
    margin: 5px 0;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 0.8em;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1080px;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.section-1 {
    /* width: 65%; */
    /* flex-grow: 2; */
    flex: 2;
}

.section-2 {
    /* width: 35%; */
}

@media (max-width: 768px){
    .container {
        flex-direction: column;
    }
    
    .container section {
        width: 100%;
    }
}